.home__bg {
    background-image: url(http://res.cloudinary.com/dehf5blmf/image/upload/v1712432511/langing_wusreq.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}
