.login__bg {
    background-image: url(http://res.cloudinary.com/dehf5blmf/image/upload/v1712433225/loginpage_pbwukz.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
